<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Assistent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="messages">
    <div class="messages-content">
      <!--<div class="message new">
        <img class="avatar" src="assets/images/bot-avatar.png">
        <div class="timestamp">11:09</div>
      </div>
       <div class="message message-personal new">
        Hi
        <div class="timestamp">11:10</div>
      </div>
      <div class="message message-personal new">
        How are you?
        <div class="timestamp">11:52</div>
      </div>
      <div class="message new">
        <img class="avatar" src="assets/images/bot-avatar.png">
        Nice to meet you<div class="timestamp">11:53</div>
      </div>
      <div class="message new">
        <img class="avatar" src="assets/images/bot-avatar.png">
        How are you?
        <div class="timestamp">11:53</div>
      </div> -->
      <ion-row *ngFor="let message of messages">
        <ion-col class="message new" *ngIf="currentUser !== message.message">
          <b>{{message.message}}</b>
          <div class="timestamp">{{message.datetime}}</div>
        </ion-col>
        <ion-col class="message message-personal new" *ngIf="currentUser === message.message">
          <b>{{message.message}}</b>
          <div class="timestamp">{{message.datetime}}</div>
        </ion-col>
      </ion-row>
      <div class="message loading">
        <img class="avatar" src="assets/images/bot-avatar.png">
        <span><i></i><i></i><i></i></span>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer translucent="true">
  <div class="record-counter" *ngIf="recording">
    {{counter}}
  </div>
  <ion-toolbar>
    <ion-textarea rows="1" autocapitalize="on" [(ngModel)]="textInput">

    </ion-textarea>
    <ion-buttons slot="end">
      <ion-button (click)="recordAudio()" *ngIf="!(textInput && textInput.length)">
        <ion-icon slot="icon-only" name="mic-circle-outline" color="light"></ion-icon>
      </ion-button>
      <ion-button (click)="sendMessage()" *ngIf="textInput && textInput.length">
        <ion-icon slot="icon-only" name="send-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>